node_modules/
avito_posters/node_modules/
Photos/
avito_posters/output_v3/
.DS_Store
*.img
*.mp4
*.MOV
*.JPG
*.jpg
*.jpeg
*.png
!landing/images/**/*.webp
!landing/images/**/*.svg
!landing/images/**/*.ico
!landing/images/**/*.jpg
!landing/images/**/*.png
!landing/images/**/*.jpeg
